[2016-02-19 19:01] ellisonbg opened #1 "Publish first newsletter"
Just creating an issue for us to track and discuss the first newsletter...

[2016-02-19 21:39] katiewhite360 commented on #1
Newsletter Strategy:

I. GitHub for Collaboration/Input
- jupyter/newsletter repo will be made public so that anyone can add content or ideas
- follows the general structure outlined in the newsletter template (see [docker](https://blog.docker.com/docker-weekly-archives/) for examle)

II. Curation
- Important/relevant content will be pulled and incorporated into a concise newsleter
- Newsletter wi

[2016-02-19 22:00] Carreau commented on #1
Which timezone ?

[2016-02-19 22:00] katiewhite360 commented on #1
Pst

On Friday, February 19, 2016, Matthias Bussonnier notifications@github.com
wrote:

##

_Katie White_
VP of Marketing - Cal Poly Entrepreneurs
Business Admin. Intern - Project Jupyter
Cal Poly Business
Cell: 801.910.6717

[2016-02-22 18:37] Carreau commented on #1
What do you think of pushing the publication on Tuesday afternoon/evening, then we can add the link to the last 2 dev meeting which are on Youtube and are usually on Tuesday from 10 to 11 PST ?

[2016-02-23 18:14] takluyver commented on #1
Do we want to include IPython stuff in the newsletter, or more strictly Jupyter? I could describe the prompt_toolkit stuff.

[2016-02-23 18:20] Carreau commented on #1
Yes IMHO, IPython is a demo of think you can do in Jupyter, and what we do with Prompt toolkit will go into jupyter_console as well right ?

[2016-02-23 18:22] takluyver commented on #1
The jupyter_console thing is a good point. The terminal interface of IPython is sort of orthogonal to Jupyter, except that the two projects are closely related.

[2016-02-23 19:32] Ruv7 commented on #1
I like the idea of having a link to the meeting recordings, what is the processing time for getting the video uploaded to Youtube? Who does this normally? Perhaps we can include recordings from the previous two weeks and not the one from that day. Ideally I would want to get into our readers inbox before 10am.

I know some email systems have automated schedules we can create for different "send" t

[2016-02-23 19:35] Ruv7 commented on #1
Also I like the idea of having a Developer's Corner or Technical updates section. We will look to you to decide what to highlight and feature...

[2016-02-23 19:39] Carreau commented on #1
less than 1h30, the recorder (Me of F.) get a link to download a few minutes after recording. (I got the link at 11:14 today) and the human is definitively the limitting factor.
I'm currently reuploading to Youtube, I set the date, the title (append the date) and click on a few option (like allow community to edit close captioning). You get the actual link imediately (Initialized empty Git reposit

[2016-02-23 19:43] Ruv7 commented on #1
True. Yes I would be ok with that. I would want to seek the opinions of Brian/Katie to see if they agree. I think in Marketing circles there is much discussion about the ideal time/day and I don't see that there is a consensus. As long as Monday and Friday are eliminated then I'm on board.

[2016-02-25 16:12] takluyver commented on #1
1. I don't think that's worth the bother.
2. I don't want to make this like a marketing campaign - that sort of thing tends to annoy geeks anyway. It's a service we'll provide for people who are interested. If it comes when they're too busy look at it, they can save it for later or ignore it as they choose. We don't want or need clever tricks to take advantage of people's attention.
3. We're a glo

[2016-03-02 02:55] Carreau opened #4 "[TOPIC] Misc other things to write about"
Various things to triage, potentially make a link and a short description.

## https://github.com/bollwyvl/nb-mermaid (diagram in IPython notebook)

For those of you who work a lot on graphs, `@bollwyvl` have written an IPython extension to easily create [mermaid] graphs. Head up to [his repository] to know more and see the examples.

## Convert notebooks from Python 2 to Python 3.

Python 3 is re

[2016-03-04 23:07] willingc opened #5 "Create documentation"
@Carreau I added myself to the repo organizers so that I can help @Ruv7 and Katie with getting into a GitHub workflow newsletter groove. I'm going to do a brief training with them on Wednesday. We love GitHub!  :see_no_evil: :hear_no_evil: :speak_no_evil:

Perhaps someday we will introduce them to our friend, Travis. :green_heart:

[2016-03-15 23:27] Carreau opened #6 "Newsletter reply-to"
list projectjupyter@gmail.com shoudl be noreply@jupyter.org

[2016-03-15 23:28] Carreau opened #7 "Duplicated unsubscribe links at bottom"
![screen shot 2016-03-15 at 16 26 57](https://cloud.githubusercontent.com/assets/335567/13797453/e64acde6-eaca-11e5-9e4f-5529112f5ee2.png)

I would also make the link to jupyter.org `https://` and in general make sure link can be https when they can be.

[2016-03-16 03:04] willingc opened #8 "Link to github repository"
In the draft newsletter there is a link to the newsletter repo which lands at a draft page. It would be better to link here: https://github.com/jupyter/newsletter

[2016-03-16 03:07] willingc opened #9 "Subscription link in paragraph 1 does not resolve"
Would someone else check if they have the same issue. Thanks.

[2016-03-16 03:21] willingc opened #10 "Unsubscribe link goes to a page saying Jupyterday Chicago"
Do we want this to be updated?

[2016-03-16 03:21] willingc opened #11 "Update profile form"
The update profile form does not indicate which fields are mandatory.

[2016-03-16 03:26] willingc commented on #6
Good catch @carreau.

[2016-03-16 03:30] willingc opened #12 "Newsletter subscribe link in README.md"
It would be good at some point to put the subscribe to newsletter link in this repo's README

[2016-03-16 08:56] minrk opened #13 "Newsletter post from numfys"
At NTNU, I talked to @hwagit about doing a guest post on [numfys](http://numfys.net). This newsletter seems like a great way to do it. Opening this issue to get the ball rolling.

[2016-03-16 10:24] takluyver commented on #9
For me it resolves to https://www.link.com/Pages/default.aspx

[2016-03-19 13:23] damianavila commented on #9
Not for me...

[2016-03-21 19:07] hakonanes commented on #13
Yes, it would be great to contribute with a blog post or something similar in your newsletter.

We (@askrogen, @komperter and I) think it might be interesting to talk about how the NumFys project and physics students at [NTNU](http://www.ntnu.edu/physics) use the Jupyter Notebook when solving numerical exercises, or presenting a numerical technique.

But we are also happy to take suggestions.

[2016-03-21 21:03] Carreau opened #14 "Peter did it again"
A notebook to introduce probability by peter norvig:

Peter Norvig is now famous for writing well though and detailed notebooks walking the reader through interesting problems. We are one again bless by a beautiful introduction to probability using Python, and slowly build-up – using some basics programming skills – intuitions on how probability theory works.

http://nbviewer.jupyter.org/url/norvi

[2016-03-21 21:05] Ruv7 commented on #13
We're pulling together content for this now, any chance we can get this by tomorrow the 22nd? The ideal format is a couple of sentences to highlight ending with a link to a full story. If it doesn't make it into this next edition we can always put it in future newsletters...

[2016-03-21 21:06] Carreau opened #15 "JupyterDays Boston recap"
Cf @willingc tweet:

https://twitter.com/WillingCarol/status/710907619376902144

Nice summary of JupyterDays from @dbouquin:

http://altbibl.io/gazette/jupyterdays-day-1/

I have to find the link for day 2...

[update]
http://altbibl.io/gazette/jupyterdays-day-2/

----
Last Jupyter Days were hold on March 17 and 18 at the Harvard Center for Astrophysics, and generously sponsored by O'Reilly media.

[2016-03-21 21:08] Carreau opened #16 "[TOPIC] IBM Blog Post on Jupyter Ecosystem"
I think it ca deserve a link.

http://blog.ibmjstart.net/2016/03/21/powered-by-jupyter/

## Jupyter Ecosystem

It's now starting to become a habit, `@parente` and `@lbustello` from IBM, wrote a beautiful summary of the Jupyter Ecosystem with many links to beautiful projects that integrating with Jupyter. We are just regretting one thing : Not having more time to explore all these links and not hav

[2016-03-21 21:08] rgbkrk commented on #15
It was awesome.

[2016-03-21 21:08] Ruv7 commented on #15
I don't think Daina from the Astrophysics library has written it yet... but yes this was awesome!

[2016-03-21 21:08] Carreau opened #17 "Archive version of newsletter."
We need to have a place with the archive versions of the newsletter for people to read.

[2016-03-21 21:25] willingc commented on #13
Electrical engineers and open hardware folks will like this notebook: http://numfys.net/media/files/examples/html/4.1_Resistor_Network_ASTUF5W.html

[2016-03-21 21:29] willingc commented on #17
Perhaps a [nikola site](https://getnikola.com/) running on gh-pages.

[2016-03-21 21:29] dbouquin commented on #15
Day two is getting posted tonight! Will add the link here. Got delayed but will get done.

[2016-03-21 21:50] hakonanes commented on #13
What is the ideal length of the full story? I'm afraid we can't put it down as soon as tomorrow, the next newsletter might be better.

It might be a good idea to highlight a few notebooks, e.g. the resistor network one.

[2016-03-21 23:38] Ruv7 commented on #13
Ok, that works. Whatever you believe is easy to digest by the reader in a single blog post. This depends on the complexity of the content and the preferences of the reader so I don't have a quick answer on that one. If you think it's too much for one post and this is powerful content then you can submit multiple items and they can be used as there is space in the newsletters... Since I'm not a tec

[2016-03-22 03:22] Carreau opened #18 "[TOPIC] Link to oreilly Oriole"
Was finally announced today.
Todo: find link, but I'm on my phone right now.

[2016-03-22 10:38] takluyver commented on #18
http://www.oreilly.com/oriole/

I'm already having to stop myself from mentally pronouncing it Oh-rye-uh-lee

[2016-03-22 11:41] takluyver commented on #18
Also, cool - I had no idea this was in the works. I've just watched through Peter Norvig's regexes example. It's a really nice concept.

[2016-03-22 11:48] minrk commented on #16
:+1:

[2016-03-22 11:49] minrk commented on #17
I thought the newsletter was also going to get posted to the blog. Would that work?

[2016-03-22 14:22] willingc commented on #17
That would work and be easier too.

[2016-03-22 14:26] willingc commented on #18
This is really cool.

[2016-03-22 15:30] Carreau commented on #17
Don't care which one.

I'm not sure it's easier as you have to rewrite all in markdown, relink everything , reupload all the images,
and someone have to do it manually.

[2016-03-22 15:32] Carreau commented on #17
Note, we use mailchimp, this can be done automatically:

http://kb.mailchimp.com/campaigns/archives/about-campaign-archives

[2016-03-22 15:34] takluyver commented on #17
As we're creating them in this repo, I assumed that we'd archive them here (maybe with a nicer landing page linking to them).

[2016-03-22 16:26] Carreau commented on #17
Does not change the fact that someone have to do that manually. The first newsletter was a draft here,
was refined on a google doc, transferred to Mailchimp which  a WYSIWYM editor, and sent.

Which is not a workflow I'm found of, but for now is a reality.

So we still have to set that up.

[2016-03-22 16:54] Carreau commented on #18
Yeah, sorry, this was not really "secret", we had a demo a couple of weeks ago in BIDS, and last week at JupyterDays, with a friendly request not talk about it publicly.

[2016-03-22 16:56] Carreau opened #19 "Internship for ECL kernel ?"
received this morning on the Mailing list:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jupyter/jTo5WVsh0Co/MjPf6HYxDgAJ

[code]

Is that something we want to add in newsletter ?

[2016-03-22 17:34] dbouquin commented on #15
Sorry for the delay all. Day two is up! @Carreau @Ruv7 @rgbkrk
 http://altbibl.io/gazette/jupyterdays-day-2/

[2016-03-22 17:37] dbouquin opened #20 "Blogs summarizing JupyterDays Boston 2016"
http://altbibl.io/gazette/jupyterdays-day-1/
http://altbibl.io/gazette/jupyterdays-day-2/
@libcce

[2016-03-22 18:02] Carreau commented on #20
Thanks !

[2016-03-22 20:45] rgbkrk commented on #15
Thank you so much for the writeup! I stayed way too active talking with people and hacking to take as impressive notes as you. Much appreciated!

[2016-03-23 04:40] katiewhite360 commented on #17
*Brian and Ana had discussed putting the latest newsletter on the top of the blog and archiving the others in a tab on the same page..

**Yes the workflow needs to be changed..should we draft and refine here? That works for me, but I'm still getting familiar with github and so is Ana. We also aren't attatched to Mailchimp is there are other suggestions

[2016-03-23 04:42] katiewhite360 commented on #18
So are we just linking this?

[2016-03-23 04:50] katiewhite360 commented on #13
We really only need the topic tomorrow...if we could get a short paragraph and link by Friday it could be published in this newsletter. I would love to use this as the featured use case/user section...

[2016-03-23 04:55] willingc commented on #18
Also this is their press release as well.

http://www.oreilly.com/pub/pr/3223

[2016-03-23 04:56] katiewhite360 commented on #4
Matthias, if you could pick one, which of these ^^ would be worth a write up this week? Or possibly links to a couple?

[2016-03-23 05:04] willingc commented on #17
Perhaps a workflow checklist might be a good start:
- [ ] Content submissions and ideas to GitHub
- [ ] Draft newsletter on GitHub
- [ ] Refine draft on Google Doc for publication
- [ ] Check in to GitHub and review final proof of newsletter  (+1 approvals on GitHub)
- [ ] Transfer final proof to MailChimp
- [ ] Distribute via MailChimp
- [ ] Archive automatically on MailChimp
- [ ] Archive final

[2016-03-23 15:17] Carreau commented on #18
Linking a write a few lines. I think it's enought.It goes well with the new peter norvig notebook posted last week. And the important part is that oriole use jupyter under the hood.

[2016-03-23 15:18] Carreau commented on #4
Probalby the  last one, it's olready an old thing.
I'll try to writeup something.

[2016-03-23 15:20] Carreau commented on #17
I want to avoid manual interaction, and having someone being the limiting factor. If mailchimp has archives, I don't see why we could not use them.

Let's keep current workflow for now, and refine slowly.

[2016-03-23 17:30] Carreau commented on #4
@katiewhite360 I've updated above text to provide a (short) blurb that describe each link.
You should have enough permissions to actually edit my post yourself, if you want to refine.

[2016-03-23 17:36] hakonanes commented on #13
How does this look as an introduction? Do you need an image, logo or anything else?

[2016-03-23 17:36] Carreau commented on #14
@katiewhite360 Updated this one as well.

[2016-03-23 17:39] willingc commented on #17
@katiewhite360 @Ruv7 @Carreau I updated the checklist of steps above. If you think this reflects the current process and like that process, let me know and I can help put together a draft document of the workflow process which you can edit as desired. Please use me as a resource for GitHub questions too.

[2016-03-23 17:49] Carreau commented on #17
Can we also share a Read-Only link to this draft on google docs ?

[2016-03-23 17:51] Carreau commented on #17
Also,

it **should** be possible to use Jekyll as a preview of the newsletter if it's written as markdown.

[2016-03-23 18:52] katiewhite360 commented on #13
Could I get a 5-10  word header and an image? That would be fantastic.

[2016-03-23 19:09] katiewhite360 commented on #14
Nice

[2016-03-23 21:21] hakonanes commented on #13
Header:

Here is the logo ([numfys_logo_white.pdf](https://github.com/jupyter/newsletter/files/186802/numfys_logo_white.pdf)) and a screen shot from a notebook on Lagrange points in the Sun Earth system ([numfys_lagrange_points.png](https://cloud.githubusercontent.com/assets/12139781/14001084/a07f8b50-f144-11e5-85fe-3e29f4cb618c.png)).

[2016-03-24 23:04] katiewhite360 opened #21 "[TOPIC] Featured users/contributors"
For this newsletter Ana was thinking Matthias and Cameron to be highlighted as the featured users/contributors - thoughts?

Cameron's bio summary and picture are en route.

[2016-03-24 23:40] Ruv7 commented on #21
I think we can cycle through Jupyter's Core team on an ad hoc basis and take particular suggestions for someone being featured or highlighted just like we would any other story suggestion. Do you have contact info for everyone on the team? I can share if not. I would go ahead and gather some photos and bios in advance so that you can simply insert them as there is room in the newsletter. Perhaps m

[2016-03-24 23:51] katiewhite360 commented on #21
Good idea, that'd take a lot of pressure off for future newsletters.
Can I start
this on Monday?

On Thursday, March 24, 2016, Ana Ruvalcaba notifications@github.com wrote:

[2016-03-25 00:00] Ruv7 commented on #21
Yup, I would actually suggest waiting to ask people for photos/bios until April 3 (post the Dev Meeting). The only two you have to worry about gathering in time for the next newsletter would be Matthias and Cameron.

[2016-03-28 06:21] katiewhite360 commented on #4
Does anyone have the links to Thomas and Min's Amsterdam talks?

[2016-03-28 09:03] willingc commented on #4
@takluyver @minrk ^^ for @katiewhite360. Thanks.

[2016-03-28 14:52] takluyver commented on #4
Voila: https://www.youtube.com/watch?v=T385txAYSt8

[2016-03-28 17:04] Carreau commented on #21
### Matthias Bussonnier

Matthias is a French Physicist. He has been a core developer of IPython and Jupyter since 2012, and has been a PostDoc working full time on IPython & Jupyter at UC Berkeley. Matthias

I'll update this comment later, you should have the ability to update it too. I'm bad at describing myself ingeneral .

[2016-03-28 21:27] katiewhite360 commented on #21
Could I get a picture?
Katie White VP of Marketing - Cal Poly Entrepreneurs Business Admin. Intern - Project Jupyter Cal Poly Business Cell: 801.910.6717

On Mon, Mar 28, 2016 at 10:04 AM, Matthias Bussonnier < notifications@github.com > wrote:
MATTHIAS BUSSONNIER
Matthias is a French Physicist. He has been a core developer of IPython and
Jupyter since 2012, and has been a PostDoc working full tim

[2016-03-28 21:47] katiewhite360 commented on #21
Hey Matthias - could I get one sentence on what you are working on right now?

[2016-03-30 17:02] Carreau commented on #6
@katiewhite360 this is still the case, please try to change that for next newsletter.

[2016-03-30 17:03] Carreau commented on #7
@katiewhite360 this is still the case , can you remote the unsubscribe and update subscription preferences from our template.

[2016-03-30 17:05] Carreau opened #22 "Get feedback from more people on newsletter draft."
@katiewhite360 , please add more people to the draft each weeks, there are a few mistakes again that slipped through today.

It's ok to make a newsletter every 3 weeks if 2 weeks is too short. We've always did things slowly but right, and not in a hurry.

[2016-03-30 17:07] Carreau commented on #17
@katiewhite360 did you enable the archive thing ? If so do you have a link ?
Publishing without archiving make it almost useless as no one can look at what they were goig to subscribe to.

We should Not publish the next newsletter if these issues are not fixed.

[2016-04-07 00:07] katiewhite360 commented on #22
Will do.

Is the material still being gathered here?

[2016-04-07 16:59] Carreau commented on #22
Should be, just people seem to not contribute, and here in Berkeley we've been meeting for all of last week, and still a lot this week, so didn't had a chance to collect material.

Also I can't and shouldn't be the only one to do that.

@ellisonbg any idea of who we can put on gathering material ?

[2016-04-12 00:44] ellisonbg commented on #22
I fully agree that we can't have the collection/gathering be just one
person. Initially, it is going to have to be the entire core team (the
folks at the dev meeting). I don't see how we would delegate this to a
person outside this team as they are the ones who know everything going on.
Eventually, Jamie may have a good perspective on everything that is
happening, but we aren't there yet. My recom

[2016-04-12 00:51] willingc commented on #22
Perhaps adding a reminder at the bottom of the weekly Dev Meeting HackPad for folks to make suggestions would be helpful as a weekly reminder.

[2016-04-12 01:04] ellisonbg commented on #22
Yes! That is a perfect context for it as it already has a lot of that
content. Might also make sense for us to start asking folks to submit stuff
from their dev meeting report.

On Mon, Apr 11, 2016 at 5:51 PM, Carol Willing notifications@github.com
wrote:

##

Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitH

[2016-04-12 21:20] Ruv7 commented on #22
No additional ideas were contributed today but we can keep trying for a few more weeks. Participation in this weeks meeting was fairly low so that may be to blame.

@katiewhite360  the Hackpad collection for Dev Meetings is here in case you're not familiar: https://jupyter.hackpad.com/collection/zCqMrBELzrv

[2016-04-13 01:24] ellisonbg commented on #22
OK let's postpone the newsletter for this week - that will also give us
time to iterate on the process and tools

On Tue, Apr 12, 2016 at 2:20 PM, Ana Ruvalcaba notifications@github.com
wrote:

##

Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2016-04-13 01:26] willingc commented on #22
Here are a few:
1. Talk Python to Me podcast: Min and Matthias https://talkpython.fm/episodes/show/44/project-jupyter-and-ipython Has a good section on the history of Jupyter. Also a transcript is available.
2. Release of nbconvert https://groups.google.com/forum/#!topic/jupyter/Ea51RPt4FSU
3. Talks from first data science meetup at BIDs during the Dev Meeting https://bids.berkeley.edu/resources/v

[2016-04-13 04:57] katiewhite360 commented on #22
Fantastic @willingc

Has a Medium account been made? Content can go in anytime

[2016-04-13 05:07] ellisonbg commented on #22
I am working on getting the passwords required to do that

Sent from my iPhone

[2016-04-13 05:08] willingc commented on #22
Thanks @ellisonbg. I had no idea what the Medium account was.

[2016-04-13 05:09] katiewhite360 commented on #22
Oh yeah that wasn't directed at you Carol - sorry!

Perfect, I'll have the content ready to go in when it's set up.

[2016-04-13 05:11] willingc commented on #22
@katiewhite360 Don't leave me in suspense! What are you using the Medium account for?

[2016-04-13 05:13] willingc commented on #22
@katiewhite360 :dog: :cat: :fish: :snake: I wonder if there is a Jupyter notebook about pets somewhere?

[2016-04-13 05:13] katiewhite360 commented on #22
We are trying Medium for publishing the newsletter because it takes a few steps out of the process (github>google docs>mailchimp>publish). It can be drafted, edited, published, and shared in the same place.

[2016-04-13 05:17] willingc commented on #22
Makes sense to me @katiewhite360  Simplify all the things! Also, it's used quite a bit by open source bloggers and small publications.

Oh and I didn't find a notebook yet on pets but one link that came up was http://www.jesshamrick.com/2011/05/18/an-introduction-to-classes-and-inheritance-in-python/ @jhamrick :smile:

[2016-04-13 05:34] katiewhite360 commented on #22
Everybody loves cats and dogs!

[2016-04-13 07:21] Carreau opened #23 "nbconvert 4.2 is out."
Min released it 4 days ago.

Cf announce on Mailing List.

[2016-04-13 07:21] Carreau opened #24 "Notebook 4.2 beta is out."
once 4.2 is out too, we can add that to the newsletter.

[2016-04-13 08:01] Carreau commented on #22
-1 on Medium.

[2016-04-13 08:38] fperez commented on #22
I don't have a problem with Medium, and if it simplifies the workflow for
the folks doing the bulk of this work, I have no objections.

Matthias, do you see any major problems with it that are show stoppers? If
not, I suggest we let the team move forward with it for now, and see how it
goes.

My only question is in a different direction... Do we really have enough
content and bandwidth to do it ev

[2016-04-13 08:52] Carreau commented on #22
Just giving my take on that, last time I tried Medium, it was not that great either
for multiple collaborators, and it is one more things to keep track of.

And it looks as another blog while we already have ghost.

If you want to try Medium, feel free to do so.

[2016-04-13 16:09] ellisonbg commented on #22
The issues that Medium solves are this:
- It allows content to be authored in a single place rather than 3 (Google
  Docs for draft, Mail Chimp, and another place for archive).
- It handles both web based subscription/archiving and emailing those who
  are subscribed (like mail chimp)
- It has a notion of a publication that was editors and authors - this is
  exactly the editorial cycle that we ha

[2016-04-13 19:24] willingc commented on #22
Hi all, I've opened a PR with a draft of a [planning notebook](https://github.com/willingc/newsletter/blob/planning/planning/newsletter.ipynb). If you find it useful for framing discussion, please use it in the notebook form or another form.

We have so much talent in this group and many balls to juggle. I want to make sure that we're being mindful of listening to each other's thoughts and seeing

[2016-04-13 19:38] willingc commented on #22
cc/ @jamieshq FYI

[2016-04-13 22:41] fperez commented on #22
Ok, given that:

a) Matthias objection wasn't strenuous nor based on a show-stopper issue.
b) There seems to be real interest in trying out Medium by the folks
carrying a lot of this burden, and it seems to address real issues we do
have.

I'd like to call it to move forward with trying it out for the newsletter.
I know we're bad at calling decisions, so let me try to help with that at
least :)

I

[2016-04-13 22:44] ellisonbg commented on #22
Almost concurrently we Fernando sending this out - I sent out a message to
those folks directly working on the newsletter with information about us
trying out medium. For now. I don't even think we want to commit to using
it officially. Katie has some questions about how it will work for
something like this - we will probably just do a private test run with a
few people and if that goes well, thin

[2016-04-15 14:07] minrk commented on #24
I can give this one a go. How do I go about submitting something?

[2016-05-02 23:15] Ruv7 opened #26 "Medium Testing"
Here is the list of open issues for the next iteration of the newsletter. My goal is to work through these open issues tomorrow and publish Wednesday if at all feasible and Thursday at the latest.

- draft of Hello World (1st edition) and ++ (2nd edition) are loaded and ready for comment, simply highlight a word or sentence and you will get a pop up that will allow you to insert a comment. Comment

[2016-05-03 03:50] fperez commented on #26
Mmh, I'm already following, and did so right away when Katie pinged us:

![image](https://cloud.githubusercontent.com/assets/57394/14974255/8a0e03ce-10a7-11e6-9023-02e76a449994.png)

am I not appearing in your list?

[2016-05-03 04:46] willingc commented on #26
@fperez Looks like there are two to be following: Project Jupyter (the one you are following) and [Jupyter Newsletter](https://medium.com/jupyter-newsletter/about).

Is it a possibility to send the newsletter from the Project Jupyter Medium since it already has followers?

[2016-05-03 06:09] ellisonbg commented on #26
You may have to follow the publication separately

Sent from my iPhone

[2016-05-03 08:48] fperez commented on #26
Ok, I've followed the newsletter:

![image](https://cloud.githubusercontent.com/assets/57394/14978487/fb8d3276-10d0-11e6-99de-7b835cb8359f.png)

and yet when I go to my profile, it says I'm not following it:

![image](https://cloud.githubusercontent.com/assets/57394/14978502/154dfe7a-10d1-11e6-8668-e4b84a039c4e.png)

I don't know why that would be the case...

[2016-05-03 11:52] willingc commented on #26
@fperez I have the same profile following experience as you. Perhaps since the newsletter is still in draft and not yet released.

[2016-05-03 17:57] ellisonbg commented on #26
Great. A few points of clarification:
- Let's publish Newsletters 1 and 2 as tests, before we commit to this
  publicly and create a new subdomain.
- I shouldn't be the one to create the subdomain. Min, Thomas or Matthias
  would be much better to do that.

On Tue, May 3, 2016 at 4:52 AM, Carol Willing notifications@github.com
wrote:

##

Brian E. Granger
Associate Professor of Physics and Data Sc

[2016-05-03 20:26] Ruv7 commented on #26
Ok, thanks. I have published one letter each for Newsletter 1 and 2 which generates an email to all followers (that have this feature enabled) and a story to the Jupyter Newsletter publication.

[2016-05-03 20:29] Ruv7 commented on #26
For @cameronoelsen - some notes on specs for Medium images https://help.medium.com/hc/en-us/articles/216770578-Publication-images

[2016-05-03 20:40] Ruv7 commented on #26
@jamieshq - here is how you edit a story once its published.  https://help.medium.com/hc/en-us/articles/215194537-Edit-a-published-story

[2016-05-03 21:47] ellisonbg commented on #26
The emails that I got with the first 2 looked great!

On Tue, May 3, 2016 at 1:40 PM, Ana Ruvalcaba notifications@github.com
wrote:

##

Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2016-05-03 22:01] willingc commented on #26
I'm notorious for shutting off all notifications and emails, but I looked at them online and they looked good. I also favorited the individual posts and left a comment about Interactive Blog Posts with Jupyter.

[2016-05-03 22:26] fperez commented on #26
+1, emails look great, and with an easy to find  link to the static web version that can serve as the permanent record (which we can tweet, etc).  Test looking good so far, thanks!

[2016-05-03 22:37] Ruv7 commented on #26
I want to flag a couple things:
- Due to version control issues there should only be one editor with permissions on any given story. This is because any editor can make changes and it will not be visible to other editors.
- Depending on how many Medium followers allow letters [they can turn this feature off]  we may potentially instantly have a following of about 2k readers (from Twitter integrati

[2016-05-03 23:42] ellisonbg commented on #26
Ana, thanks for the update!

I think we should make the official decision to use Medium (or not).
@fperez how do you want to make this? I am in favor of using Medium for
this.

We run into this same issue with editing Google Docs as well (if comments
are not used, which we often don't). Our usual approach is to have multiple
people take a pass and if there are things that need discussing, we just

[2016-05-04 20:25] Ruv7 commented on #26
Yes, correct on the edits q. It's like a word doc with no tracking on. All editors can make changes which are saved to the original document. There is a time stamp for changes but it won't show who made the changes or what changes were made.

If no one technical person co-leads this effort it feels more challenging for me to project manage efficiently but I agree it's great to have multiple techni

[2016-05-04 20:29] Ruv7 commented on #26
ps. we cannot at this embed a youtube video in a letter. This will need to go as a link in the letter but will show up as a clickable video in the story

[2016-05-05 00:58] fperez commented on #26
My suggestion for the decision: Ana, could you ping the list with a brief message asking folks to come over to issue #27 to indicate if they have any preference?  That way we can keep the longer back-story here and tally votes there. Let's try that as a mechanism for quickly collecting yes/no input using the vote emojis :)

[2016-05-05 00:59] fperez opened #27 "Vote on whether to move to Medium as the editing/deployment platform for the newsletter."
The question we're asking is: do we move to Medium as the platform for editing/posting the newsletter?

Please vote by using the 👍 /👎  emojis below for tallying.  Obviously feel free to post a comment with further info if you'd like.

My personal vote is yes, based on the fact that the team doing most of the work on this found it to be a good solution that solved a number of problems they were hav

[2016-05-05 01:02] Ruv7 commented on #26
That works, thanks

[2016-05-05 14:18] jasongrout commented on #27
I think one of my primary concerns is the ability to get the material out of a proprietary system in the future if the need arises. When you say archiving is not easy...is it doable to get the material out, especially in an automated way (i.e., download all articles)?

[2016-05-05 21:09] willingc commented on #27
[Export from Medium](https://help.medium.com/hc/en-us/articles/214043918-Export-content-from-Medium) is via Settings in their UI. @ruv7 and I did a test this morning and the ZIP file of all html contents of all articles was delivered in a matter of seconds.

FYI. Observing the CP newsletter folks at work, it does seem to me that Medium is an easier process than Ghost was.

[2016-05-05 21:12] jasongrout commented on #27
Cool, thanks for checking. I defer to all y'all's judgement on the matter.

[2016-05-05 21:21] Ruv7 commented on #27
Brian/Katie had previously voiced their yes votes on the transition. @JamiesHQ @Carreau - any feedback or thoughts? If not please indicate this so we can move forward.

[2016-05-05 21:22] Carreau commented on #27
Well, I was not able to access, or received any invite to edit or view the edit interface so hard to judge, so I'll let involved person make a judgement.

[2016-05-05 21:47] Ruv7 commented on #27
In the flurry of emails on the topic I can't seem to pinpoint how/when the draft of the first two posts which are currently live was sent out. Perhaps this came from @katiewhite360 and that's why I can't seem to find. Regardless of whether I sent them or Katie sent I thought you had received... This flags a problem I see with managing this process/task with such a large group of contributors. I th

[2016-05-06 02:36] fperez commented on #27
@willingc, could you post/send that test zip file? I'd like to run a quick test on it out of curiosity...

@Ruv7, could you make @Carreau an editor so he could have a look at the edit interface?

Thanks!

[2016-05-06 04:26] willingc commented on #27
@fperez I shared the google folder with you.

[2016-05-06 04:33] Ruv7 commented on #27
Only publication owners can delete a publication and add editors. @ellisonbg would need to do this. As an editor I can only add writers.

[2016-05-06 05:26] fperez commented on #27
Thanks @willingc! I tested the conversion to markdown from the folder you gave me, using pandoc, and it mostly works pretty well. The following three lines of ipython do the trick:

[code]

I've pasted the result [here](https://gist.github.com/fperez/cf71e00d0ef4e839aaba595cb3d13b52).

The original, for comparison, is [here](https://medium.com/jupyter-newsletter/jupyter-newsletter-2-march-30-e73bd

[2016-05-06 05:32] ellisonbg commented on #27
The publication owner is @ProjectJupyter and the authentication is the
regular Twitter account. Matthias can add himself as an editor by logging
onto Medium using this account.

On Thu, May 5, 2016 at 9:33 PM, Ana Ruvalcaba notifications@github.com
wrote:

##

Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHu

[2016-05-06 05:44] ellisonbg commented on #27
What is the goal of having a separate archive of the posts that is updated upon each newsletter being published?

I agree that it is good to be able to get all of our data if/when we need it, but I don't see why we have to do that whole process every two weeks, even though we are not going to use the data in any useful way in the short term.

The danger of Medium disappearing without notice is ext

[2016-05-06 05:56] fperez commented on #27
I don't like the idea of "do your backups in an emergency". It's kind of saying "buy a fire extinguisher when your house is on fire".

I think if we want the data to be backed up, it should be done when created. The process I outlined is literally _minutes_ of work (for a machine with python and pandoc).  I don't think it's too high a burden to keep our data available in a clean format for future

[2016-05-06 06:05] ellisonbg commented on #27
We have _way_ more important stuff going not backed up, but as long as
someone technical wants to do this regularly, I don't mind.

On Thu, May 5, 2016 at 10:56 PM, Fernando Perez notifications@github.com
wrote:

##

Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.c

[2016-05-06 06:07] ellisonbg commented on #27
Also, if no one technical steps up to the plate, Ana or Katie could just
download the .zip file and throw it into a dropbox folder with a name that
reflects the date. Not pretty, but would at least cover the data loss risk.

On Thu, May 5, 2016 at 11:05 PM, Brian Granger ellisonbg@gmail.com wrote:

##

Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San

[2016-05-06 06:12] fperez commented on #27
Is there a way for anyone else to download that data? I can't seem to...  It would be good to ensure that folks other than Ana and Katie can actually grab the raw data.

[2016-05-06 07:07] fperez commented on #27
ps - what else is critical that we aren't backing up? If that's the case, we should make a list and a plan to address it...

[2016-05-06 10:05] fperez commented on #27
Actually, scratch that: the docx format seemed to be an artifact of Google Drive. @willingc, could you email me the zip file directly as generated by Medium itself? Would be best to test how much extra cleanup is really necessary straight from their archive, Google Drive seems to be doing an automatic export to Word as best I can tell.

[2016-05-06 15:20] willingc commented on #27
@Ruv7 Would you mind emailing @fperez the zipped zip file that we downloaded from medium yesterday? I only have the unzipped in Google Docs. I'll be in the office in a bit if we need to download again 💃

I'll also take a look at the Medium API to see if there is anything in there. My guess is likely not, but I'll check.

[2016-05-06 15:33] ellisonbg commented on #27
Not backed up:
- All of our hackpads.
- All of the many google docs spread across numerous people's Google Drives.
- All of the Dropbox files spread across different accounts.

On Fri, May 6, 2016 at 8:20 AM, Carol Willing notifications@github.com
wrote:

##

Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub

[2016-05-06 16:54] Ruv7 commented on #27
Yes I can send the unzipped file. Is this detail going to stop us from using Medium? If not does it make sense that we concurrently create the custom sub domain so that when we work through this we are ready to go? I'm wrapping up the design with Cameron today.

[2016-05-06 17:51] rgbkrk commented on #27
Lately I've been viewing hackpad, slack, and Dropbox as ephemeral just-in-time thinking and design work. If it's meant to carry on longer, it _must_ end up in a repository somewhere whether in code, doc, or issue.

As for assets, while not completely bulletproof, git+lfs has been pretty good so long as you set up the repo right.

I'm definitely not going to volunteer for setting up a job to slurp

[2016-05-08 23:27] ellisonbg commented on #27
Pretty much all non-technical parts of the project are on Dropbox/Google/Hackpad. This includes staffing, budgets, financial, organizational, fund-raising, design, communications. Many/most of the people who work with these documents don't use GitHub at all.

[2016-05-09 13:23] jasongrout commented on #27
FYI, the purpose of my original query had more to do with how we get our content out if we decide in the future to migrate off of medium, not necessarily how to back up our content for when medium catastrophically fails. It's useful to think about backups of important content too, but that's also part of a much larger conversation about all of our "critical" content, and I don't think that larger

[2016-05-09 14:53] ellisonbg commented on #27
Thanks for the clarification - from that perspective the HTML export that
Medium has should be sufficient and we can do that if/when we decide to
migrate elsewhere.

On Mon, May 9, 2016 at 6:23 AM, Jason Grout notifications@github.com
wrote:

##

Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@cal

[2016-05-10 22:33] Ruv7 commented on #27
Next steps to closing out this issue:

@cameronoelsen - can you point me to towards the images you created, I'll upload and make sure they're working well

@katiewhite360  - please let me know when you have final drafted for the post. Link to today's DevMeeting: ttps://youtu.be/5FilnwzSicU

@minrk - thanks for volunteering to create the custom sub domain, what info do you need to create this?

[2016-05-10 22:37] willingc commented on #27
@Ruv7 To help with the time difference, @minrk probably would need what you want as the custom subdomain name, i.e. newsletter.jupyter.org or puppiesandkittens.jupyter.org and possibly an email associated with the newsletter.

[2016-05-10 22:42] cameronoelsen commented on #27
Here is the header:
![infographic_newsletter3](https://cloud.githubusercontent.com/assets/6437976/15164750/af6f2282-16c5-11e6-8497-72412c0f0efe.png)

I can make one of these when we know the day we will be publishing:
![title_bar](https://cloud.githubusercontent.com/assets/6437976/15164762/c2797620-16c5-11e6-9361-5019c8073487.png)

[2016-05-10 22:47] Carreau commented on #27
I vote for this one.

[2016-05-10 22:51] Carreau commented on #27
That already exist and is `noreply@jupyter.org`, which redirect to `projectjupyter+noreply@gmail.com`, and hence is autotagged by the projectJupyter gmail account.

[2016-05-10 22:53] Carreau commented on #27
[newsletter.jupyter.org](https://newsletter.jupyter.org/) also already exists and point to the newsletter on medium already:

[2016-05-10 22:56] Ruv7 commented on #27
You beat me to this, I was going to check what the address was and I see that it is already done. @ellisonbg please confirm if anything else needs to happen. Our medium account can now be found at https://newsletter.jupyter.org/

[2016-05-10 23:56] ellisonbg commented on #27
Great I think we are ready to go with the next one on medium - thanks everyone!

Sent from my iPhone

[2016-05-11 00:41] #26 closed

[2016-05-11 00:43] #1 closed

[2016-05-11 00:45] Ruv7 commented on #4
@Carreau  @katiewhite360 - I'm closing out open issues that have exhausted their use. Anything worth posting about in future newsletters in here or should I close this out?

[2016-05-11 00:47] #14 closed

[2016-05-11 00:47] #15 closed

[2016-05-11 00:48] #20 closed

[2016-05-11 00:52] #22 closed

[2016-05-11 00:53] #8 closed

[2016-05-11 00:53] #5 closed

[2016-05-11 00:54] #9 closed

[2016-05-11 00:54] #10 closed

[2016-05-11 00:54] Ruv7 commented on #24
This included in the current newsletter.

[2016-05-11 00:54] #24 closed

[2016-05-11 00:55] Ruv7 commented on #23
This is included in the current newsletter.

[2016-05-11 00:55] #23 closed

[2016-05-11 00:55] #11 closed

[2016-05-11 01:00] willingc commented on #12
Closing - Added link in README.

[2016-05-11 01:00] #12 closed

[2016-05-11 01:02] Ruv7 opened #28 "Medium Launch Newsletter"
@katiewhite360 - please post a note here when the draft of the newsletter is ready for review. The goal would be Wednesday afternoon or Thursday morning.

[2016-05-11 01:03] willingc commented on #17
Closing as addressed in #27.

[2016-05-11 01:03] #17 closed

[2016-05-11 01:04] #7 closed

[2016-05-11 01:04] #6 closed

[2016-05-11 01:06] willingc commented on #19
Cool program. Deadline for applications has passed so closing the issue.

[2016-05-11 01:06] #19 closed

[2016-05-11 01:09] Ruv7 opened #29 "Clear out Open issues"
@katiewhite360 - as you're able can you please look through all open issues on the newsletter repo and close out anything that doesn't need further discussion? Note you can always reopen these if you need to. I closed out several but if you can help with the remaining that would be great. Also do you have a cue of topics/write ups for future newsletters is being stored? Can you share this or creat

[2016-05-11 01:10] Ruv7 commented on #29
Thanks @willingc for clearing out a few of these also!

[2016-05-11 01:10] willingc commented on #13
Closing this issue since published in newsletter [here](https://newsletter.jupyter.org/jupyter-newsletter-2-march-30-e73bdefd185f#.20z8yefs7). Great project @hwagit 👍

[2016-05-11 01:10] #13 closed

[2016-05-11 06:44] minrk commented on #27
newsletter.jupyter should be all set up. I can point something else to it as well, if that was wrong.

[2016-05-13 18:04] fperez commented on #27
Sorry, I replied to Ana via email separately. Yes, I don't think we need to hold this decision contingent on the archiving: what we get from medium in HTML isn't ideal, but it's workable.

I do think that our publicly facing "persistent" content, like blog and newsletter raw sources, should be stored in a repo somewhere always, along the lines @rgbkrk states above, as a matter of principle. It's v

[2016-05-13 18:04] #27 closed

[2016-05-13 18:17] fperez opened #30 "Using issues for posting topic suggestions?"
@Carreau has already three issues (#4, #16 and #18) that suggest topics to include in future newsletters.  That seems like a good way to proceed to me, for example today I thought [the Lego robot post](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jupyter/4GDoEqFM768/RPEFEju2AAAJ) would make for a nice little blurb.

@Ruv7, @katiewhite360, others: should we proceed with

[2016-05-14 23:18] Ruv7 commented on #30
Yes, that works. Note though the most efficient thing for technical topics is to have ideas contributed in the following format:

Headline + Two to Four Sentence Description +  A link to more info + Photo/Diagram where available

Sometimes I can pick out the most interesting thing in technical articles but other times it may as well be in Portuguese. Because I speak Spanish I will understand part

[2016-05-15 03:02] #30 closed

[2016-05-15 03:09] willingc opened #32 "[TOPIC] Lorena Barba keynote at PyCon 2016"
## Jupyter newsletter issues

Thank you for submitting a story idea for the newsletter, an enhancement, or
a bug. Please fill out the information below as completely as possible.

### Issue category

- [ ] Technical story suggestion (Projects, Releases, Code, Notebooks, etc.)
- [x] General interest story suggestion (People profiles, conferences,
      awards, recognitions, etc.)
- [ ] Newsletter e

[2016-05-15 03:18] willingc commented on #30
@fperez @Ruv7 @katiewhite360 @Carreau I've added an ISSUE_TEMPLATE.md to this repo that will remind submitters to include Ana's requested information about a story. When someone clicks "New Issue" in this repo, the template will display the desired submission information.

I've also gone back and tagged Matthias' story suggestions with the prefix [TOPIC]. I  added a suggestion to include Lorena Ba

[2016-05-15 03:39] willingc opened #33 "Create archive directory and use git-lfs to store content"
Create an archive directory and use [git-lfs](https://git-lfs.github.com/) to efficiently store content (images, media, zip files, pdfs) for archive.

@katiewhite360 @Ruv7 Ping me after the next newsletter is published and I'll archive the issues.

@rgbkrk Anything special that I need to do for the repo other than set the .git-attributes for the large format file types that we will use. I've got t

[2016-05-15 04:14] rgbkrk commented on #33
Once users have lfs installed, when they know they want to version something with lfs that isn't already tracked, they need to run, e.g. `git lfs track "*.sketch"`. That updates the `.gitattributes` file for you. The hardest part of that burden is getting all contributors to install LFS, though they can use the repo without it.

[2016-05-15 05:34] willingc commented on #33
@rgbkrk Thanks!

[2016-05-19 01:51] #33 closed

[2016-05-19 01:52] willingc commented on #29
@katiewhite360 @Ruv7 I'm closing since there appears to be no further action now.

[2016-05-19 01:52] #29 closed

[2016-05-19 01:52] #28 closed

[2016-05-31 16:46] katiewhite360 opened #35 "Newsletter Release June 2"
Hello all,

If you are an editor on the Medium Jupyter Newsletter editing team, please take a look at the draft and comment any edits (by highlighting the text, right clicking, and selecting the button that appears on the far right next to the cursor). Special attention to the technical pieces would be very helpful.

Thanks!

Here is our timeline for this issue:

05/20/2016  - Friday - Deadline fo

[2016-05-31 17:18] katiewhite360 opened #36 "Newsletter Content Ideas: Drop Date 06/15/2016"
Here is the timeline for the next +1 newsletter - note that the deadline for content submission is this Friday!

06/03/2016  - Friday  - Deadline for content submission

06/07/2016 - Tuesday - Select topics and outline first draft

06/09/2016 - Thursday - Send initial draft to editors on medium, technical review

06/13/2016 - Monday - Feedback due from editors. Make graphic request to design team

[2016-05-31 21:08] Ruv7 commented on #21
@katiewhite360 - is there where you're keeping track of featured contributor submissions you have on deck? If not should we close out the issue? Not sure if this continues to be useful otherwise.

[2016-05-31 21:21] katiewhite360 commented on #21
They are in my email. Yes feel free to close it out.
Katie White Vice President - Cal Poly Entrepreneurs Business Administration - Project Jupyter Cal Poly Business Cell: 801.910.6717

On Tue, May 31, 2016 2:08 PM, Ana Ruvalcaba notifications@github.com wrote:
@katiewhite360 - is there where you're keeping track of featured contributor submissions you
have on deck? If not should we close out the i

[2016-05-31 21:21] #21 closed

[2016-06-03 17:58] Ruv7 commented on #35
@katiewhite360 Please refer to the issue https://github.com/jupyter/jupyter.github.io/issues/49#issuecomment-223457617

I would like to cancel this iteration and move it to the June 15 release so that we're on a monthly schedule. For consistency if you have comments or ideas please post on the other issue.

[2016-06-06 19:28] katiewhite360 opened #37 "Newsletter Content Ideas: Drop Date 07/20/2016"
Jupyter in Education - interview with Lorena Barba

Instead of Featured Users/Contributors - Jupyter Campus profiles (Berkley, Cal Poly, etc.)

Brian’s Keynote at SciPy

Guidelines to collaborate on the newsletter/become a writer

History of Jupyter - from Colorado on

[2016-06-06 21:18] #35 closed

[2016-06-06 21:30] Ruv7 commented on #36
Updated timeline:

6/7: Katie to propose new content in draft form to Ana
6/8: Send out draft to reviewing team per new process (post on github with an @ mention)
6/13: By 9am, Katie to remind reviewing team of deadline to give feedback
6/14: Deadline for feedback
6/15: Publish

[2016-06-15 22:59] Carreau opened #38 "Collaboration instruction likely unclear."
Hi,

I did made some changes during the review stage on the newsletter, that were saved, as I could still see them across days when revisiting the page.

Though they seem to not have made it to the final version.

Mainly a description on the image, plus a few link.

also there is now this "Newsletter Jupyter ........... June15th" header which was not there before, is not the right resolution and i

[2016-06-17 23:07] #36 closed

[2016-06-17 23:08] Ruv7 commented on #37
Include online event happening on July 22: pending receipt of link to view or instructions to attend

[2016-06-22 16:41] katiewhite360 opened #39 "Newsletter Timeline: Drop Date 07/20/2016"
06/29/2016  - Wednesday - Deadline for content submission

07/05/2016 -Tuesday - Select topics and outline first draft

07/05/2016 - Tuesday  - Send initial draft to editors on medium, technical review

07/13/2016 - Wednesday - Feedback due from editors. Make graphic request to design team

07/15/2016 - Friday - Graphic Due

07/19/2016 - Tuesday - Run Test: Send letter, Final Review

07/20/2016  -

[2016-06-22 16:59] Carreau commented on #39
Side question:

https://medium.com/@projectJupyter

Does not list any of the archived newsletter. Which IIRC was the point of doing that on Medium IIUC. Am I missing something.

There still a draft "DO NOT EDIT THIS VERSION" can it be deleted ?

[2016-06-22 17:02] katiewhite360 commented on #39
We are archiving the newsletters in the 'Jupyter Newsletter' Medium account, which is separate from the 'Project Jupyter' account (and very confusing)

I'll delete the DO NOT EDIT version. Thanks for flagging that for me!

[2016-06-22 17:06] Carreau commented on #39
Ah... Yes, confusing.

we definitively need a link to that.

The template could probably have a "See past newsletter and subscribe to

## new one at https://newsletter.jupyter.org/"

M

On Wed, Jun 22, 2016 at 10:02 AM, Katie White notifications@github.com
wrote:

[2016-06-22 19:10] willingc commented on #37
@katiewhite360 @ruv7 There is a nice podcast interview of Matthias and Min about the history of IPython and Jupyter https://talkpython.fm/episodes/show/44/project-jupyter-and-ipython

[2016-06-22 19:16] willingc commented on #39
FYI all, PDFs of the newsletters are being archived in this repo as well https://github.com/jupyter/newsletter/tree/master/archives

[2016-06-22 19:18] willingc commented on #37
Closing this issue since it is replaced by #39

[2016-06-22 19:23] willingc commented on #38
@katiewhite360 @Ruv7 This caused me a bit of confusion as well.

Take a look at the shared draft and private notes feature. This may be preferable to allowing individual reviewers to edit directly. https://help.medium.com/hc/en-us/articles/215274128-Collaboration-tools

[2016-06-28 17:27] parente commented on #39
From standup today: @lbustelo, @parente to comment here with a bit about the enhancement proposals for dashboards and declarative widgets.

[2016-06-28 17:33] Ruv7 commented on #39
@katiewhite360 - note the content Gino & Peter from the post immediately above should be included in the next newsletter scheduled to drop on 7/20 since they are looking for feedback on the work they're doing - lmk if you have any questions since this was discussed in a call today. Thanks!

[2016-06-28 19:20] lbustelo commented on #39
The [jupyter-declarativewidgets](https://github.com/jupyter-incubator/declarativewidgets) extension enables the user to create interactive areas of the Notebook that connect to functions and data on the kernel. It works on top of Python, Scala and R.

In conjunction with the [jupyter-dashboard](https://github.com/jupyter-incubator/dashboards) extension and related sub-projects, it is possible to t

[2016-06-28 20:25] parente commented on #39
The [jupyter-dashboards extension](https://github.com/jupyter-incubator/dashboards) lets users arrange notebook outputs and widgets in grid- and report-like layouts. It is the first of three capabilities in the [Jupyter Incubator Dashboards effort](https://github.com/jupyter-incubator/dashboards/wiki) and a nice compliment to the [jupyter-declarativewidgets](https://github.com/jupyter-incubator/de

[2016-06-28 22:30] katiewhite360 commented on #39
Thanks @parente and @lbustelo !

Could I get a header and an image for both of these, ideally by Friday?

[2016-06-28 22:34] Ruv7 commented on #39
Though if an image doesn't enhance the content or one doesn't exist that's fine too...

[2016-06-28 22:44] parente commented on #39
@katiewhite360 would the image in the readme in the dashboards extension repo linked above do? It's showcasing both the widgets and the dashboard layout.

[2016-06-28 22:48] katiewhite360 commented on #39
That's perfect. A header?

Thanks!

[2016-06-28 23:02] katiewhite360 commented on #38
@Carreau your revisions were all valid - I moved the image description into the paragraph below because that image became the issue header (which isn't formatted with a caption). The reason for duplicating the header is so that the issue number and date show up in the thumbnail/preview version.

@willingc I don't think those capabilities work with the letter format, but I will double check. Sharin

[2016-06-28 23:02] #38 closed

[2016-06-29 16:31] takluyver opened #41 "NGCM summer academy"
I'm not really sure where to add content, so here's a bit on the summer academy.

I've got permission to use [this picture](https://pbs.twimg.com/media/Clehq_dWYAQ0-cD.jpg:large) if we credit the photographer, [Bob Entwhistle](https://twitter.com/b_entwistle).

@minrk: anything we should add to that?

[2016-06-29 16:34] katiewhite360 commented on #41
Thanks! Can I get a header for this, and are there any videos of the workshop? @takluyver

[2016-06-29 16:34] willingc commented on #41
@takluyver I sent @katiewhite360 some info about the workshop a few days ago (link to website and the repo for background). Nice photo. Isn't there one of you too? ;-)

[2016-06-29 16:37] katiewhite360 commented on #41
@willingc in that email you mentioned a video in one of the links but I wasn't able to find it...am I missing something or was it not recorded?

[2016-06-29 16:39] takluyver commented on #41
Header: Workshop in Southampton (?)

I don't know of any video from it - the workshops weren't being recorded like a conference. And I didn't find any photos of the two of us together.

[2016-06-29 16:40] katiewhite360 commented on #41
That's ok this picture works well :)    Thanks @takluyver @willingc !

[2016-06-29 16:42] willingc commented on #41
Ah...the video was on the page and was of Vanessa Graber talking about the entire NGCM experience and benefits https://www.youtube.com/watch?v=A_4piuBzpjQ

@takluyver We'll have to wait for the next event for a photo of the presenting duo.

[2016-06-29 16:46] takluyver commented on #41
It may even be a different duo next year. Fernando's promised to make it one year...

[2016-06-30 18:39] katiewhite360 commented on #39
Just a reminder for headers - could even be anything 5-10 words. @parente @lbustelo

[2016-06-30 18:56] parente commented on #39
@katiewhite360 Ah, sorry. I thought you meant header image.

How about one of these? You can choose or wordsmith.
- A new way to consume notebooks with dashboards and declarative widgets
- Cross language widgets and dashboard layouts for Jupyter notebooks
- Incubating Jupyter declarative widgets and dashboard projects ready to graduate

[2016-06-30 19:08] willingc commented on #39
Dashboard and declarative widgets projects graduating from Jupyter incubator

@katiewhite360 @parente What about this one?

[2016-07-06 17:10] katiewhite360 opened #42 "Newsletter Draft for Editing: Drop Date 07/20/2016"
Hello all,

Please look over the content of this newsletter for edits - especially the "Dashboard and Declarative Widget Projects Graduating from Jupyter Incubator" section. Also, note that some of the content about SciPy (which ends right before the drop date) is filled in now by placeholders and will be written/edited at the conference. Edits can be made directly to the letter - I have a saved c

[2016-07-06 17:19] Carreau commented on #42
@bollwyvl want to add Jupyter Days atlanta in "events" ?

[2016-07-22 22:55] #42 closed

[2016-07-22 22:56] #41 closed

[2016-07-22 22:56] #39 closed

[2016-07-22 22:59] #32 closed

[2016-07-22 22:59] #37 closed

[2016-07-22 23:00] #16 closed

[2016-07-22 23:00] #18 closed

[2016-07-22 23:43] katiewhite360 opened #43 "Newsletter Timeline: Drop Date 08/24/2016"
07/29/2016 - Friday - Deadline for content submission

80/04/2016 - Thursday - Send initial draft to editors on Medium, technical review

80/17/2016 - Wednesday - Feedback due from editors. Make graphic request of design team

08/19/2016 - Friday - Graphic Due

08/23/2016 - Tuesday - Run Test: Send letter to editors

08/24/2016 - Wednesday - Publish

Put your content ideas in "Newsletter Content I

[2016-07-22 23:46] katiewhite360 opened #44 "Newsletter Content Ideas: Drop Date 08/24/2016"
Jupyter in Education interview with Lorena Barba, Daniel Soto, and Eric Ma.

Altair?

JupyterCon

PyData SF

JupyterDay Atlanta

Jupyter Mini-workshop recap

@Carreau @ellisonbg @willingc @fperez @Ruv7

[2016-07-22 23:56] willingc commented on #44
Also Jupyter in Education interview of Demba Ba of Harvard

Perhaps a short mention of batchspawner being added to jupyterhub projects. Could go under JupyterHub workshop recap.

All looks good.

[2016-07-25 16:57] katiewhite360 commented on #44
@willingc Could you connect me to him via email?

[2016-08-11 23:45] Ruv7 commented on #43
@katiewhite360 - hi there! can please clarify the second and third line item from your timeline above? was the initial draft supposed to come out today or did it go out last Thursday and I missed it? let me know, thanks

[2016-08-19 21:14] Ruv7 commented on #43
@katiewhite360 - I've called, texted, emailed, and githubbed. If you hadn't checked in your time on Kronos I would have called your emergency contact by now. I may or may not have watched one too many 48 hours. Ha. Given the timeline above calls for publishing this next week I will assume we're not going to hit that target. I know you had interviewed and done a ton of work related to SciPy happeni

[2016-08-23 19:32] Ruv7 commented on #43
Moving the discussion to a new issue since we're re-working the timeline.

[2016-08-23 19:32] #43 closed

[2016-08-23 19:37] Ruv7 opened #45 "Newsletter Timeline: Drop Date TBD: Goal is 8/31 - 9/2"
8/24 - Ana to prep shell, outline, and list of topics
8/25 -  Content development: Intern Hack, led by Carol/Ana/Jamie
8/26 - Open to feedback to Medium editors
8/31 to 9/2 - Publish on Medium

[2016-08-23 19:39] Ruv7 commented on #44
Moving this discussion to a new issue after a revision on the timeline and content development process for this next iteration.

[2016-08-23 19:39] #44 closed

[2016-08-23 19:48] Ruv7 opened #46 "Newsletter Content Ideas: Newsletter"
**Altair**: Altair is a new Python package implementing a declarative API for fast and efficient data exploration and visualization. Altair's goal is not to add another plot rendering tool to Python's current visualization milieu, but rather to allow Python users to easily generate JSON-formatted visualization specifications following the well-defined [Vega-Lite](https://vega.github.io/vega-lite/)

[2016-08-31 20:10] Ruv7 commented on #46
Published on 8/31, Trending notebooks moved to consideration of topics for next iteration.

[2016-08-31 20:10] #46 closed

[2016-08-31 20:11] Ruv7 commented on #45
Published on 8/31, process for development of next newsletter will be discussed in a separate issue. I will add a reminder to editors to next timeline.

[2016-08-31 20:12] #45 closed

[2016-08-31 20:30] Ruv7 opened #47 "Newsletter Timeline: Drop Date 9/28/16"
9/1 - Open Call for Topics to Community (Tweet on 9/1, Google Group 9/1, DevCall 9/6)
9/7 - Last Call for idea submissions
9/8 - Close Call for Topics
9/15 - Ana to create draft + find headliner image (request design help if needed)
9/19 - Send email requesting feedback to Medium editors (BG, CW, FP, JW, MB)
9/22 - Send email reminder to editors - last chance to respond on 9/23
9/23 - Close feedba

[2016-08-31 20:42] Ruv7 opened #48 "Newsletter Content Request for Ideas: 9/1/16 - 9/7/16"
Request for Newsletter content:

Open a new issue and label it as a "topic suggestion" in order to submit ideas for the next newsletter. Submissions for the 9/28 drop date will be taken from 9/1 to 9/7.

[2016-08-31 20:56] Ruv7 opened #49 "Newsletter Content Suggestion: Trending Notebooks"
### Issue category

- [ x ] Technical story suggestion (Projects, Releases, Code, Notebooks, etc.)

## Story suggestions

Please enter below a topic, headline, 2 to 4 sentence summary, links to
additional information, and links to images or photos.

### Topic: GitHub is now indexing notebooks

### Headline:

Trending Notebooks

### Summary of story:

In 2015, GitHub began to render Jupyter Noteboo

[2016-08-31 23:06] Ruv7 commented on #4
Closing this issue out. Here is the process I believe we settled on: To submit a content suggestion for upcoming Jupyter newsletter one should:

Create a new issue here: https://github.com/jupyter/newsletter/issues - follow the format of the template post, and label your issue "topic suggestion". Content suggestions at a minimum should include a headline and 2 -4 sentences that are ready to publis

[2016-08-31 23:07] Ruv7 commented on #4
If there is anything in this thread that still makes sense to publish please re-submit using the format listed in the previous post.

[2016-08-31 23:07] #4 closed

[2016-08-31 23:12] willingc commented on #4
@Ruv7 Looks like dated content to me.

[2016-09-01 18:56] Ruv7 opened #50 "Newsletter Timeline: Drop Date 10/20/16"
9/19 - Open Call for Topics to Community (Tweet on 9/19, Google Group 9/19, DevCall 9/20)
9/23 - Last Call for idea submissions
9/26 - Close Call for Topics
9/27 - Ana to begin initial draft + find headliner image (request design help if needed)
10/5 - Ana to finish draft
10/6 - Send email requesting feedback to Medium editors (BG, CW, FP, JW, MB)
10/13 - Send email reminder to editors - last chan

[2016-09-12 19:19] Ruv7 commented on #48
Submission period is closed.

[2016-09-12 19:19] #48 closed

[2016-09-12 19:19] #49 closed

[2016-09-12 19:20] Ruv7 commented on #47
Update from 9/12 - closed call for topics for 9/28. Initial draft due 9/15.

[2016-09-12 20:52] willingc commented on #47
@Ruv7 Did you get enough topics?

[2016-09-12 21:00] Ruv7 commented on #47
@willingc - No.

[2016-09-12 21:05] willingc commented on #47
How many do you need? I could likely find something at PyData. One of the JupyterDays Atlanta presenters will be presenting something on birds songs and data analysis.

[2016-09-12 23:47] Ruv7 commented on #47
One technical article. I have two other non technical topics I'd like to write about.

[2016-09-20 00:28] Ruv7 commented on #47
Thanks @willingc  for the initial review. I sent out the draft to the newsletter editing team. Feedback closes 9/23.

[2016-09-20 00:42] willingc commented on #47
@Ruv7 You may want to @-mention any folks that haven't responded by 9/22 EOD

[2016-09-20 17:50] Ruv7 commented on #47
Yes, thanks for the reminder.

[2016-09-20 19:15] Ruv7 commented on #47
In case you didn't see the email from yesterday, here is a quick flag for @ellisonbg @fperez @Carreau @JamiesHQ  @willingc  - the draft of the next newsletter is available on Medium. Please let me know if you have any overarching feedback otherwise you can make your edits to the document directly making to sure to click "close" and "save for later" on the bottom right when you're done with your wo

[2016-09-20 19:22] Ruv7 commented on #50
Note: I updated flow to give the editors more time, took days from the draft creation timeline.

[2016-09-20 19:23] Ruv7 commented on #47
ps. I didn't give you as much time to respond as I would have liked. I updated the next newsletter's timeline to increase this review time.

[2016-09-22 00:01] Ruv7 commented on #47
FYR: I just added images for Featured Contributors and a banner image...

[2016-09-28 18:58] Ruv7 commented on #50
@willingc @ellisonbg @fperez @JamiesHQ @Carreau  - I have a use case submission for story ideas related to Jupyter in Education but I do not have a headline technical story at this point. Please let me know if you have anything you'd like to highlight in October for Jupyter.

[2016-09-29 22:16] Ruv7 commented on #47
Newsletter dropped as planned on 9/28. Thanks to all who contributed! Let me know if you guys see anything that we can do better next time. Comment on the issue for the [10/20 newsletter.(https://github.com/jupyter/newsletter/issues/50)

[2016-09-29 22:17] #47 closed

[2016-09-29 22:26] Ruv7 opened #51 "Newsletter Timeline: Drop Date 11/22/16"
10/21 - Open Call for Topics to Community (Tweet on 10/21, Google Group 10/21, DevCall 10/25)
10/25 - Last Call for idea submissions
10/27 - Close Call for Topics
10/27 - Ana to begin initial draft + find headliner image (request design help if needed)
11/5 - Ana to finish draft
11/7 - Send email requesting feedback to Medium editors (BG, CW, FP, JW, MB)
11/9 - Send email reminder to editors - las

[2016-09-29 22:28] Ruv7 commented on #51
I want to flag that feedback week for editors (11/7 to 11/11) will be the week of the Fall Developers Meeting. This will be challenging. However, I do not want to push this one week as that would push publishing into the week of Thanksgiving which would be even more challenging. Let me know if you have any concerns or other ideas.

[2016-09-30 00:51] willingc commented on #47
Thanks @Ruv7  👍

[2016-10-04 21:41] Ruv7 opened #52 "Story suggestion: Featured Use Case: JupyterHub with nbgrader for teaching"
### Issue category

- [x] Technical story suggestion (Projects, Releases, Code, Notebooks, etc.)
- [ ] General interest story suggestion (People profiles, conferences,
      awards, recognitions, etc.)
- [ ] Newsletter enhancements
- [ ] Newsletter bugs

### Headline:

Featured Use Case: JupyterHub with nbgrader for teaching

### Summary of story:

Body: Kristen Thyng teaches Python for Geoscience

[2016-10-05 22:49] Ruv7 commented on #50
Due October 14 - @willingc @ellisonbg @fperez @JamiesHQ @Carreau -  Please review the newsletter draft in Medium - newsletter.jupyter.org/ making your edits directly to the document and ensuring you click "Close" and "Save" on the bottom right of the interface when you're done. Present and discuss any questions in this thread.

**Note there is no Headliner story**.  I'd like to request that one of

[2016-10-11 19:38] Ruv7 commented on #52
Included this in the draft sent to the editors for review. Posted here for documentation purposes, this was a story publicly posted on Twitter, suggested to me by Carol, and then followed up on by me through direct emails with the author (Kristen).

[2016-10-11 19:38] #52 closed

[2016-10-21 22:51] Ruv7 commented on #50
We went with Figshare renders Jupyter notebooks as the headline story. This was created and shared outside of GitHub. We successfully sent this out on 10/19.

[2016-10-21 22:51] #50 closed

[2016-10-22 06:20] mpacer commented on #51
Could we submit something perhaps only tangentially related to Jupyter, but is more about general interesting things in computing or development more broadly. The idea would be to have a way to grab the attention of people who would be interested in Jupyter but not in reading about Jupyter to still know what the newsletter is. Something that is more in the style of the Atlantic or a New Yorker art

[2016-10-22 21:23] willingc commented on #51
@michaelpacer Did you have a particular topic in mind? I could see this being a strategy now or in the future to pull in readers.

[2016-10-26 00:03] Ruv7 commented on #51
Michael - can I ask you to move this discussion to a new issue? I do think this is an interesting idea, are you thinking something along the lines of - this week in Data Science, or Open Source Happenings? That sort of thing? I think the challenge with this new section is similar to the challenge for any of the existing sections. Gathering and creating the content. If you're willing to help with t

[2016-11-16 20:51] Kacawi opened #53 "Newsletter Content Suggestion"
## Story suggestion

### Topic: Jupyter Notebooks for Beginners

### Headline: "Jupyter Notebook Tutorial: The Definitive Guide"

### Summary of story:

An easy-to-follow tutorial for beginners that explains how to install and run the Jupyter Notebook Application and how it can be used as an interactive environment for data science. The tutorial includes tips and best practices to use Jupyter Note

[2016-11-16 21:31] Ruv7 opened #54 "Newsletter Timeline: Drop Date 12/14"
11/21 - Open Call for Topics to Community (Tweet on 11/21, Google Group 11/21, DevCall 11/22)
11/25 - Last Call for idea submissions
11/27 - Close Call for Topics
11/28 - Ana to begin initial draft + find headliner image (request design help if needed)
12/5 - Ana to finish draft
12/6 - Send email requesting feedback to Medium editors (BG, CW, FP, JW, MB)
12/12 - Send email reminder to editors - la

[2016-11-21 22:36] Ruv7 commented on #51
This drop date was delayed to November 22. Lack of content was the core issue. I will send a draft out to the editors now and will look to get things back on track for December. I'll close out the issue tomorrow if/when I am able to successfully send this out.

[2016-11-21 22:40] Ruv7 commented on #51
@willingc @ellisonbg @fperez @JamiesHQ  - the final draft is available in Medium. Please remember to click "Close" and "Save for later" on the bottom right after making your edits. Note I will update with our Tuesday DevMeeting if we have one tomorrow.

[2016-11-21 22:52] willingc commented on #51
@Ruv7 Would you mind posting the link? I've tried all 3 medium accounts that I have and I can't find the draft :( Thanks!

[2016-11-21 22:57] Ruv7 commented on #51
Medium changed their interface. Does this take you there? https://medium.com/jupyter-newsletter/letters If not then hover over your photo and then click publications. Select view/manage publication to the right of the Jupyter Newsletter. Once you do this the Jupyter Newsletter icon should show up next to your own photo at the top of the interface. Hover over that and select "Letters". Call me if t

[2016-11-21 22:58] willingc commented on #51
The link did the trick @Ruv7. Weird that it didn't appear before. Oh well.

[2016-11-21 23:07] willingc commented on #51
@Ruv7 Edits completed. Some minor punctuation and grammar tense changes. Added one sentence re: Grace Hopper and Reese.

[2016-11-21 23:09] Ruv7 commented on #51
Oh yeah! Love that. Thanks for thinking of this and for the quick response.

[2016-11-22 18:11] Ruv7 commented on #53
Hello @Kacawi - thanks for the suggestion! I will include this in the draft for the December iteration of the newsletter. The suggested copy goes to a small group of editors who decide on final content. I will post here as we get closer to the drop date to let you know if we can include your tutorial. Hope you enjoy the rest of your week! Let me know if you have any questions or further comments.

[2016-11-22 19:03] Ruv7 commented on #51
Just sent this out. Btw, @willingc - I logged in from a different device today and wasn't able to manage the publication either. It kept taking me to the main newsletter page as if I was visiting and didn't have admin rights. Clicking on the link I had sent you above worked. Not sure what's going on with that :(

[2016-11-22 19:03] #51 closed

[2016-11-23 11:41] Kacawi-zz commented on #53
Hi @Ruv7 , thank you very much for taking the tutorial into consideration! Have a great week too and hear from you soon! :)

[2016-11-23 18:26] willingc commented on #51
if you have details on what you did when it didn't work, I can check with them on Monday.

[2016-12-19 22:46] Ruv7 commented on #54
*Newsletter was posptponed. We held off due to a pending announcement we were hoping to make. It's still not ready though so we're moving forward with sending this out this week. Wednesday/Thursday timeframe is the new goal.

[2016-12-19 22:54] Ruv7 opened #55 "Newsletter Timeline: Drop Date 1/18/17"
12/20 - Open Call for Topics to Community (Tweet, Google Group, DevCall)
12/27 - Last Call for idea submissions
12/28 - Close Call for Topics
12/28 - Ana to begin initial draft + find headliner image (request design help if needed)
1/5 - Ana to finish draft
1/6 - Send email requesting feedback to Medium editors (BG, CW, FP, JW, MB)
1/12 - Send email reminder to editors - last chance to respond on

[2016-12-20 13:47] minrk opened #56 "nbdime announcement"
We've just published the first release of nbdime: tools for diffing and merging notebooks. nbdime provides tools for viewing diffs of notebooks in the terminal, viewing rich diffs in a browser, automatically resolving merge conflicts, and a web-based tool for three-way merging of notebooks. [Check it out](https://nbdime.readthedocs.io), let us know how it goes, and help out if you can! This work i

[2016-12-20 16:21] willingc commented on #56
@Ruv7 Any chance to get this in the current issue? It's pretty cool.

[2016-12-20 18:11] Ruv7 commented on #56
Yes, this is great! Thanks Min.

[2016-12-22 20:55] dwhitena opened #57 "Newsletter Story - Jupyter + Pachyderm"
### Issue category

- [x] Technical story suggestion (Projects, Releases, Code, Notebooks, etc.)
- [ ] General interest story suggestion (People profiles, conferences,
      awards, recognitions, etc.)
- [ ] Newsletter enhancements
- [ ] Newsletter bugs

## Story suggestions

### Topic:

Jupyter and Pachyderm

### Headline:

Pachyderm's newest release allows Jupyter users to collaborate on version

[2016-12-29 19:15] Ruv7 commented on #56
Included in the December newsletter.

[2016-12-29 19:15] #56 closed

[2016-12-29 19:16] Ruv7 commented on #54
Newsletter was dropped on December 21.

[2016-12-29 19:18] Ruv7 commented on #53
Hi @Kacawi - I hope you're enjoying the holidays and I apologize for the delay in reaching out. Good news - your story made it into the newsletter. This went out on December 21 and you can see it here in case you didn't catch the announcement on Twitter. https://newsletter.jupyter.org/jupyter-newsletter-10-december-21-2016-a8f86919196f#.yh1qbw4ke

[2016-12-29 19:22] Ruv7 commented on #57
Hi @dwhitena - thank you for sending this in. I will include it for consideration in the January newsletter. Feel free to post the blog link once that's available. Hope you're enjoying the holidays!

[2016-12-29 19:47] Ruv7 opened #58 "Newsletter Timeline: Drop Date 2/28/17 (revised deadline)"
1/24 - Open Call for Topics to Community (Tweet, Google Group, DevCall)
2/02 - Last Call for idea submissions
2/03 - Close Call for Topics
2/06 - Ana to begin initial draft + find headliner image (request design help if needed)
2/10 - Ana to finish draft
2/13 - Send email requesting feedback to Medium editors (BG, CW, FP, JW, MB)
2/16 - Send email reminder to editors - last chance to respond on 2/

[2016-12-29 20:15] Kacawi-zz commented on #53
Hi @Ruv7 , I indeed caught the announcement and was delighted to see the tutorial mentioned! Thank very much for everything! Happy holidays and a fantastic 2017 (already well in advance :)).

[2016-12-29 20:18] #53 closed

[2017-01-02 12:25] dwhitena commented on #57
Thanks @Ruv7.  I will link the blog post here. It should be published in the next few days.

[2017-01-03 18:47] dwhitena commented on #57
@Ruv7, here is the blog post: https://medium.com/pachyderm-data/jupyter-pachyderm-part-1-exploring-and-understanding-historical-analyses-2a37e56c6578#.4lcljyyzd

[2017-01-31 20:49] dwhitena commented on #57
@Ruv7 Just following up here.  Do you have any questions, suggestions, etc. about the above.  Looking forward to the opportunity to have this in the newsletter.  If it goes out with the newsletter, we will be sure to share on all of our accounts.

[2017-02-03 02:00] Ruv7 commented on #57
Hi @dwhitena - I apologize for the delay in my response - the newsletter was postponed. I'm behind on getting this out the door and I will share an update with you in the next two weeks. Thanks for being patient!

[2017-02-24 15:00] minrk opened #59 "nbviewer rate limit updates"
## Jupyter newsletter issues

Thank you for submitting a story idea for the newsletter, an enhancement, or
a bug. Please fill out the information below as completely as possible.

### Issue category

- [x] Technical story suggestion (Projects, Releases, Code, Notebooks, etc.)
- [ ] General interest story suggestion (People profiles, conferences,
      awards, recognitions, etc.)
- [ ] Newsletter e

[2017-02-24 16:54] willingc commented on #59
@minrk Thanks for figuring that out. Happy to help you write a draft for the blog.

[2017-02-28 00:28] Ruv7 commented on #55
Newsletter was not published on 1/18 delayed to February.

[2017-02-28 00:28] #55 closed

[2017-02-28 00:30] Ruv7 commented on #57
@dwhitena - we're prepping to send out the next newsletter and I wanted to let you know we're including your story above. There has been such a lag in my ability to post the story I wanted to confirm if you'd like to see any changes before it goes. I included the link to the blog post you sent on January 3. Thanks!

[2017-02-28 23:59] Ruv7 commented on #59
Thanks Min, I will include this for consideration in the March newsletter.

[2017-03-01 00:00] Ruv7 commented on #58
Publishing was delayed, I expect to send this out this afternoon. Timeline for March and April iterations will be posted by next week.

[2017-03-01 00:00] #58 closed

[2017-03-01 00:01] Ruv7 commented on #57
@dwhitena - I hope you're ok with me publishing, I expect this to go out this afternoon. I apologize for the short notice :( Though it's not ideal, I can always edit post publishing time so if there is anything you want to see changed just lmk.

[2017-03-01 00:05] dwhitena commented on #57
Yes @Ruv7. That sounds great! Thank you so much.

[2017-03-01 00:08] Ruv7 commented on #57
Awesome, thank you for your patience  and for the story idea. I really appreciate you!

[2017-03-01 00:08] #57 closed

[2017-03-03 11:14] Kacawi opened #60 "Newsletter Story Suggestion"
## Story suggestion

### Topic:

Jupyter/IPython

### Headline: "IPython or Jupyter?"

### Summary of story:

The blog post explains some of the core differences between IPython and Jupyter, focusing firstly on the evolution of computational notebooks, the creation of the IPython project and the "Big Split", which resulted in the creation of the Jupyter project. Next, the blog post presents you wi

[2017-03-09 23:47] Ruv7 commented on #60
Thank you @Kacawi for writing this and for sharing here! Would you be open to having a discussion with us (myself and possibly some other Jupyter folks) about some potential additions/edits to this article?

[2017-03-10 11:10] Kacawi-zz commented on #60
@Ruv7 yes of course! How do I contact you?

[2017-03-10 18:31] Ruv7 commented on #60
@Kacawi - great, I'll DM you on Twitter with my contact info.

[2017-03-14 23:40] Ruv7 opened #61 "Newsletter Timeline: Drop Date 3/28"
x/xx - Content lined up for this issue, open call for submissions to be made for April issue
3/15 - Ana to begin initial draft + find headliner image (request design help if needed)
3/17 - Ana to finish draft
3/17 - Send email requesting feedback to Medium editors (BG, CW, FP, JW, MB)
3/23 - Send email reminder to editors - last chance to respond on 3/24
3/24 - Close feedback process for editors,

[2017-03-14 23:45] Ruv7 opened #62 "Newsletter Timeline: Drop Date 4/18"
3/16 - Open Call for Topics to Community (Tweet on 3/16, Google Group 3/16, DevCall 3/21)
3/29 - Last Call for idea submissions
3/30 - Close Call for Topics
3/31 - Ana to begin initial draft + find headliner image (request design help if needed)
4/6 - Ana to finish draft
4/7 - Send email requesting feedback to Medium editors (BG, CW, FP, JW, MB)
4/13 - Send email reminder to editors - last chance

[2017-03-15 03:48] willingc commented on #61
Do you have enough content?

[2017-03-15 18:01] Ruv7 commented on #61
I have a headline story, but I haven't finished the shell to outline all the topics. I can always use more events announcements but if you have anything you want to share feel free to send this my way and if I can't include in this one I'll share in the next.

[2017-03-15 18:09] willingc commented on #61
Can we add a link to something cool that uses ipywidgets? The documentation done by Maarten Breddels from the ipyvolume project is outstanding. Animation and interactivity. Docs: https://ipyvolume.readthedocs.io/en/latest/index.html

I know that we want a longer blog post on this but it's so great as is it would be nice to highlight it :smile:
cc @SylvainCorlay

[2017-03-15 18:10] SylvainCorlay commented on #61
Good idea.

[2017-03-15 18:11] SylvainCorlay commented on #61
By then, some of the other libraries will have live widgets in the docs too hopefully.

[2017-03-15 19:59] Ruv7 commented on #61
Please create a new issue with the story and follow the content parameters (headline, a couple sentences of copy, and a link). Thanks!

[2017-03-15 23:38] willingc opened #63 "Story suggestions for ipywidgets"
## Jupyter newsletter issues

### Issue category

-  [x] Technical story suggestion (Projects, Releases, Code, Notebooks, etc.)

## Story suggestions

### Topic:

ipyvolume uses ipywidgets to create interactive documentation

### Headline:

*ipyvolume's documentation gets interactive with ipywidgets*

### Summary of story:

Maarten Breddels and the ipyvolume project is creating engaging and intera

[2017-03-15 23:38] willingc commented on #61
See #63

[2017-03-15 23:43] Ruv7 commented on #61
Gracias Carol!

[2017-04-07 23:03] Ruv7 commented on #61
Newsletter sent on 3/30

[2017-04-07 23:03] #61 closed

[2017-04-07 23:16] Ruv7 commented on #63
@willingc  - I will include this in the list of possible topics for the April edition. There was a large amount of content of the March iteration. I will assume this is still a good topic unless you let me know it doesn't make sense to include...

[2017-04-07 23:19] Ruv7 commented on #59
@minrk  - I will include this idea in the proposed April Newsletter. I will assume this is the blog post unless you let me know otherwise: https://blog.jupyter.org/2017/03/01/nbviewer-and-githubs-rate-limit/

[2017-04-07 23:53] willingc commented on #63
Yes! Sylvain and Maarten Breddels would be good for any questions or more detail.

[2017-04-07 23:54] willingc commented on #59
Yep. That's the post.

[2017-04-12 23:07] Ruv7 commented on #63
For the link provided above I'm getting an error message. Can you confirm this is the correct address @willingc @SylvainCorlay - https://ipyvolume.readthedocs.io.com/

[2017-04-13 03:23] willingc commented on #63
https://ipyvolume.readthedocs.io Sorry about the bad link before.

[2017-04-13 03:55] jasongrout commented on #63
You can add that Maarten is now active in the base ipywidgets development as well, contributing four merged PRs and one PR that is still open. (Besides reviewing other PRs)

[2017-04-13 23:49] willingc commented on #63
For Ana, "We're pleased that Maarten is an active community contributor to the ipywidgets project as well. He recently contributed four merged PRs to ipywidgets. Thanks Maarten!"

[2017-04-14 11:46] jankatins opened #64 "New release of jupyter environment kernels"
### Issue category

- [x] Technical story suggestion (Projects, Releases, Code, Notebooks, etc.)

### Topic:

* New release of Juypter environment kernels with activate support for virtualenv and conda (py+R) environments

### Headline:

New release of Juypter environment kernels with activate support for virtualenv and conda (py+R) environments

### Summary of story:

This plugin looks for enviro

[2017-04-14 22:58] SylvainCorlay commented on #63
It could be worth mentionning the VAEX project (a data decimation engine) by the same author which motivated this new work on the front-end.

[2017-04-17 18:23] Ruv7 commented on #63
@SylvainCorlay - Here is the draft of the submission we are considering - if you want to make changes simply insert them and repost here.

***

ipyvolume uses ipywidgets to create interactive documentation

Maarten Breddels and the ipyvolume project is creating engaging and interactive user documentation using Project Jupyter’s ipywidgets. IPyvolume is a Python library to visualize 3d volumes and

[2017-04-17 18:33] SylvainCorlay commented on #63
How about:

Besides his work on ipyvolume, Maarten recently contributed four merged PRs to ipywidgets. We are pleased that he has become an active community contributor.

[2017-04-17 18:37] Ruv7 commented on #63
I like that edit, thanks. If you want to add anything about the VAEX project please feel free to do so.

[2017-04-17 19:04] SylvainCorlay commented on #63
Thanks. Here is another proposal including VAEX.

[...] configuration and effort. It also serves as a front-end to the VAEX data decimation engine. Besides his work on ipyvolume and VAEX, Maarten recently contributed four merged PRs to ipywidgets. We are pleased that he has become an active community contributor.

[2017-04-22 10:44] jankatins opened #65 "New release of jupyter_contrib_nbextensions (0.2.7)"
### Issue category

- [x] Technical story suggestion (Projects, Releases, Code, Notebooks, etc.)

### Topic:

New release of jupyter_contrib_nbextensions (0.2.7)

### Headline:

New release of jupyter_contrib_nbextensions adds variable inspector

### Summary of story:

jupyter_contrib_nbextensions is a collection of Jupyter notebook extensions which add new functionality to the Jupyter notebook. E

[2022-01-13 21:06] #65 closed

[2022-01-13 21:06] #64 closed